In [219]:
import numpy as np 
import pandas as pd 
import seaborn as sns
from matplotlib import pyplot as plt
from matplotlib import style
from sklearn import linear_model
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split

In [220]:
df = pd.read_csv('titanic.csv', decimal=",")

In [221]:
total = df.isnull().sum().sort_values(ascending=False)
percent_1 = df.isnull().sum()/len(df)*100
percent_2 = (round(percent_1, 1)).sort_values(ascending=False)
missing_data = pd.concat([total, percent_2], axis=1, keys=['Total', '%'])
missing_data.head(10)

           Total     %
cabin        774  74.0
home.dest    361  34.5
embarked       2   0.2
fare           1   0.1
ticket         0   0.0
parch          0   0.0
sibsp          0   0.0
age            0   0.0
sex            0   0.0
name           0   0.0

In [222]:
k = df['embarked'].describe()
df['embarked'] = df['embarked'].fillna(k['top'])

i = (df['fare'] == np.nan).index[0]
list = df.index[df['pclass'] == df['pclass'][i]].tolist()
df['fare'] = df['fare'].fillna(np.mean(df['fare'][list]))

import re
deck = {"A": 1, "B": 2, "C": 3, "D": 4, "E": 5, "F": 6, "G": 7, "U": 8}

df['cabin'] = df['cabin'].fillna("U0")
df['deck'] = df['cabin'].map(lambda x: re.compile("([a-zA-Z]+)").search(x).group())
df['deck'] = df['deck'].map(deck)
df['deck'] = df['deck'].fillna(0)
df['deck'] = df['deck'].astype(int)
df = df.drop(['cabin'], axis=1)

df['sex'] = df['sex'].map({"male": 0, "female": 1})
df['embarked'] = df['embarked'].map({"S": 0, "C": 1, "Q": 2})


df.loc[ df['age'] <= 11, 'age'] = 0
df.loc[(df['age'] > 11) & (df['age'] <= 18), 'age'] = 1
df.loc[(df['age'] > 18) & (df['age'] <= 22), 'age'] = 2
df.loc[(df['age'] > 22) & (df['age'] <= 27), 'age'] = 3
df.loc[(df['age'] > 27) & (df['age'] <= 33), 'age'] = 4
df.loc[(df['age'] > 33) & (df['age'] <= 40), 'age'] = 5
df.loc[(df['age'] > 40) & (df['age'] <= 65), 'age'] = 6
df.loc[ df['age'] > 65, 'age'] = 6

df['fare'] = pd.qcut(df['fare'],7, labels=[0, 1, 2, 3, 4, 5, 6])

In [223]:
#surname = df['name']
#surname = surname.str.split().str[0]
#surname = surname.str[:-1]
#df['surname'] = surname

#na_hd = df[df['home.dest'].isnull()].index.tolist()

In [224]:
# for i in na_hd:
#    name = df['surname'][i]
#    t = df['surname'].drop(i).str.contains(name)
#    if np.sum(t) != 0:
#        df['home.dest'][i] = df['home.dest'][t].drop(i)

In [225]:
df = df.drop(['ticket', 'name', 'home.dest'], axis = 1)

In [226]:
X = df.drop(['survived'], axis=1)
y = df['survived']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

In [227]:
decision_tree = DecisionTreeClassifier()
decision_tree.fit(X_train, y_train)  
y_pred = decision_tree.predict(X_test)
score_decision_tree = decision_tree.score(X_train, y_train)

In [228]:
logreg = LogisticRegression()
logreg.fit(X_train, y_train)
y_pred = logreg.predict(X_test)
score_log_reg = logreg.score(X_train, y_train)

In [229]:
print(score_decision_tree, score_log_reg)

0.930327868852459 0.7923497267759563